{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajout des Employers{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 5%">
        <h1> Ajout d'un Nouveau Empoyees</h1>
            <div class="form-group">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.nom,{'attr':{'placeholder': 'Saisissez le prenom'}}) }}</div>
                    <div class="col-md-4">{{ form_row(form.prenom,{'attr':{'placeholder': 'Saisissez le prenom'}}) }}</div>
                    <div class="col-md-4">{{ form_row(form.adresse,{'attr':{'placeholder': 'Saisissez l\'adresse'}}) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.email,{'attr':{'placeholder': 'Saisissez le mail'}}) }}</div>
                    <div class="col-md-4">{{ form_row(form.telephone,{'attr':{'placeholder': 'Saisissez le telephone'}}) }}</div>
                    <div class="col-md-4">{{ form_row(form.username,{'attr':{'placeholder': 'Saisissez le login'}}) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.password,{'attr':{'placeholder': 'Saisissez le mots de passe'}}) }}</div>
                </div>
                <button type="submit" class="btn btn-success" style="margin-top: 2%">Ajouter</button>
                {{ form_end(form) }}
            </div>
    </div>


    <div class="container">
        <table class="table table-hover table-active" style="margin-top: 5%">
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>PRENOM</th>
                <th>ADRESSE</th>
                <th>EMAIL</th>
                <th>TELEPHONE</th>
                <th>USERNAME</th>
                <th>PASSWORD</th>
                <th>ACTION</th>
            </tr>
                {% for empls in empl %}
                    <tr>
                        <td>{{ empls.id}}</td>
                        <td>{{ empls.nom }}</td>
                        <td>{{ empls.prenom }}</td>
                        <td>{{ empls.adresse }}</td>
                        <td>{{ empls.email }}</td>
                        <td>{{ empls.telephone }}</td>
                        <td>{{ empls.username }}</td>
                        <td>{{ empls.password}}</td>
                        <td>
                            <a href="{{ path('employes_delete', {'id': empls.id})}}" class="btn btn-outline-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
        </table>
        <a href="{{ path('village') }}" class="btn btn-info">Ajouter des Villages</a>
    </div>

{% endblock %}
